PORT={{ workshop_port }}
DB_NAME={{ workshop_vault_db_name }}
DB_USERNAME={{ workshop_vault_db_username }}
DB_PASSWORD={{ workshop_vault_db_password }}
DB_HOSTNAME={{ workshop_vault_db_hostname }}
DB_POOL_SIZE={{ workshop_vault_db_pool_size }}
SECRET_KEY_BASE={{ workshop_vault_secret_key_base }}
